apiVersion: v1
kind: ConfigMap
metadata:
  name: krakend-cfg
  namespace: default
data:
  krakend.json: |-
    {
      "$schema": "https://www.krakend.io/schema/krakend.json",
      "version": 3,
      "name": "KrakenD - API Gateway",
      "extra_config": {
        "telemetry/logging": {
          "level": "DEBUG",
          "prefix": "[KRAKEND]",
          "syslog": true,
          "stdout": true,
          "format": "default",
          "syslog_facility": "local3"
        },
        "telemetry/logstash": { "enabled": false }
      },
      "timeout": "300s",
      "cache_ttl": "100s",
      "output_encoding": "json",
      "port": 8080,
      "endpoints": [
        {
          "endpoint": "/v1/llm",
          "method": "GET",
          "backend": [
            {
              "url_pattern": "/api",
              "encoding": "json",
              "sd": "static",
              "method": "GET",
              "host": ["http://llmservice:8001"],
              "disable_host_sanitize": false
            }
          ],
          "extra_config": {
            "qos/ratelimit/router": {
              "max_rate": 0,
              "strategy": "ip",
              "capacity": 1
            },
            "auth/validator": {
              "alg": "RS256",
              "jwk_local_path": "/etc/krakensecrets/publickey.json",
              "disable_jwk_security": true,
              "operation_debug": true
            }
          },
          "input_query_strings": ["message"]
        },
        {
          "endpoint": "/v1/logintoken",
          "method": "POST",
          "output_encoding": "json",
          "backend": [
            {
              "url_pattern": "/api/token/",
              "encoding": "json",
              "sd": "static",
              "method": "POST",
              "host": ["http://loginservice:80"],
              "disable_host_sanitize": false
            }
          ],
          "input_headers": ["*"]
        }
      ],
      "debug_endpoint": true,
      "echo_endpoint": true
    }
